*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
.logo{
    font-size: 16px;
}
.navigationBar{
    position: absolute; 
    top: 50px;
    left: 100px;
    height: 50px;
    width: 250px;
    font-size: 11px;
}
ul{
    margin-top: 20px;
    list-style: none;
    display: flex; 
    flex-direction: row;
    gap: 30px; 
}
.newClientBtn, .newSalesBtn, .newProductBtn{
    position: absolute;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 11px;
}

.searchPage, .clientPage, .productPage, .salesPage{
    width: 1080px;
    height: 500px;  
    display: block;
    position: absolute;
    top: 140px;
    left: 100px;
} 
.searchBtn{
    margin-bottom: 20px;
    margin-top: 20px;
}
form{
    display: flex; 
    flex-direction : column;
    gap: 10px;
    font-size: 12px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}

.formLabel{
    display: inline-block;
    width: 10%;
}
table{
    width: 100%;
    border-collapse: collapse;
}    
tr{
    background-color: rgb(248, 248, 248);
}    
th, td{
    font-size: 11px;
    font-weight: normal;
    text-align: left; 
    border: 1px solid  rgb(92, 91, 91); 
    margin: auto; 
    padding: 2px 15px 2px 15px; 
}    
#clientTable, #productTable, #salesTable{
    margin-top: 40px;
}    
/* All Modal Mask*/

input, textarea{
    outline: none; 
    border: none; 
    background-color: rgb(241, 241, 241); 
    font-size: 11px;
    padding: 5px 15px 5px 15px; 
    width: 175px;
    border-radius: 8px;
    color: rgb(44, 44, 44); 
    resize: none;
}
input:focus{
    box-shadow: 0 2px 8px rgba(131, 154, 255, 0.308);
}

.modalMask{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    text-align: center; 
    display: none;
}    

.clientModalTitle, .productModalTitle, .salesModalTitle{
    margin-top: 15px;
    font-size: 12px;
}
.clientModalForm, .productModalForm,.salesModalForm {
    margin-top: 10px;
}
.clientModalContainer{
    position: absolute;
    left: 180px;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 18px;
    margin-top: 50px;
    z-index: 1000;
}

.productModalContainer{
    position: absolute;
    left: 180px;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 375px;
    background-color: white;
    border-radius: 18px;
    margin-top: 50px;
    z-index: 1000;
}

.salesModalContainer{
    position: absolute;
    display: inline-block;
    left: 180px;
    text-align: center;
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 18px;
    margin-top: 50px;
    z-index: 1000;
}

